@tailwind base;
@tailwind components;
@tailwind utilities;

.image-1 {
    background-image: url('/images/image1.png');
}

.image-2 {
    background-image: url('/images/image2.png');
}

.image-3 {
    background-image: url('/images/image3.png');
}

.image-4 {
    background-image: url('/images/image4.png');
}